@import "variables";
@import "tm_mixins";

.cherry-popup-title{
	margin-bottom: 20px;
}

.cherry-popup-content{
	margin-bottom: 20px;
}

.cherry-popup-subscribe{
	&__form{

	}

	&__input-group{
		display: flex;
		align-items: center;
		flex-flow: row nowrap;
	}

	&__input{
		flex: 1 1 auto;
	}

	&__submit{
		flex: 0 1 auto;
		padding: 10px 40px;
		margin-left: 10px;
		color: white;
		cursor: pointer;
		background-color: $blue_color;
		border-radius: 20px;
		display: inline-block;
		cursor: pointer;

		&:hover {
			background-color: $blue_color_h;
		}
	}

	&__message{
		display: none;

		span{
			color: $red_color;
		}

		&.success-type{
			span{
				color: $green_color;
			}
		}
	}
}

.cherry-popup-login{
	input[type="text"],
	input[type="password"], {
		width: 100%;
	}

	label {
		margin-bottom: 0.5em;
		display: inline-block;
	}

	&__form {

	}

	&__input-group{
		display: flex;
		flex-flow: column nowrap;
		align-items: stretch;
	}

	&__wrap {
		margin-bottom: 1em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__login-in {
		padding: 10px 40px;
		color: white;
		cursor: pointer;
		background-color: $blue_color;
		border-radius: 20px;
		display: inline-block;

		&:hover {
			background-color: $blue_color_h;
		}
	}

	&__remember {
		display: flex;
		align-items: center;

		&.active {
			.cherry-popup-login__remember-input {
				span {
					display: block;
				}
			}
		}

		&-input {
			width: 21px;
			height: 21px;
			display: inline-block;
			position: relative;
			border-radius: 3px;
			background-color: #f7fafd;
			border: 1px solid #e0e0e8;
			margin-right: 5px;
			cursor: pointer;

			span {
				top: 0;
				left: 0;
				color: $blue_color;
				display: none;
			}
		}

		&-label {}
	}

	&__message{
		display: none;

		span{
			color: $red_color;
		}

		&.success-type{
			span{
				color: $green_color;
			}
		}
	}
}
